<h1 mat-dialog-title>Editar Servicio: {{ service.id }}</h1>

<mat-dialog-content>
  <form [formGroup]="servicioForm">

    <mat-card appearance="outlined" class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>Datos Generales</mat-card-title>
      </mat-card-header>
      <mat-card-content class="datos-generales-form">
        <mat-form-field>
          <mat-label>ID Usuario</mat-label>
          <input matInput formControlName="id_usuario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <input matInput formControlName="cliente">
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-divider class="divider-seccion"></mat-divider>

    <h2 class="seccion-titulo">Muestras del Servicio</h2>
    <div class="muestras-container" formArrayName="muestras">
      <mat-card *ngFor="let muestra of muestras.controls; let i = index" 
                [formGroupName]="i" 
                class="muestra-card mat-elevation-z4">
        
        <mat-card-header class="muestra-card-header">
          <mat-form-field appearance="outline" class="item-input">
            <mat-label>Código Muestra</mat-label>
            <input matInput formControlName="codigo">
          </mat-form-field>
          <button mat-icon-button color="warn" class="delete-muestra-button" (click)="removeMuestra(i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="ensayos-list-content">
          <div [formArrayName]="'ensayos'">
            <div *ngFor="let ensayo of getEnsayos(i).controls; let j = index" 
                 [formGroupName]="j" 
                 class="ensayo-item">
              <mat-form-field appearance="outline" class="item-input">
                <mat-label>Nombre Ensayo</mat-label>
                <input matInput formControlName="nombre">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeEnsayo(i, j)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-stroked-button color="primary" (click)="addEnsayo(i)">
            <mat-icon>add</mat-icon>
            Añadir Ensayo
          </button>
        </mat-card-actions>
      </mat-card>

      <button mat-fab extended color="primary" class="add-muestra-button" (click)="addMuestra()">
        <mat-icon>add</mat-icon>
        Añadir Muestra
      </button>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()">Guardar Cambios</button>
</mat-dialog-actions>