<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Editar Servicio: <b>{{ service.id }}</b></h1>
  <mat-icon class="m-2 close-button" mat-icon-button (click)="onCancel()" aria-label="Cerrar diálogo">close</mat-icon>
</div>

<mat-dialog-content>
  
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">

    <mat-tab label="Datos Generales">
      <div class="tab-content">
        <form [formGroup]="servicioForm">
          <div class="row gx-4">
            <div class="col-lg-6 mb-3 d-flex gap-3 align-items-center">
              <label for="cliente-select" class="form-label">Cliente</label>
              <mat-form-field appearance="outline" class="flex-grow-1">
                <mat-select formControlName="cliente" id="cliente-select">
                  @for (cliente of clientes; track cliente.id) {
                    <mat-option [value]="cliente">{{ cliente.nombre }}</mat-option>
                  }
                </mat-select>
                @if(form['cliente'].hasError('required')) {
                  <mat-error>Requerido</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-6 mb-3 d-flex gap-3 align-items-center">
              <label for="contacto-select" class="form-label">Contacto</label>
              <mat-form-field appearance="outline" class="flex-grow-1">
                <mat-select formControlName="contacto" id="contacto-select">
                  @for (contacto of contactosFiltrados; track contacto.id) {
                    <mat-option [value]="contacto">{{ contacto.nombre }}</mat-option>
                  }
                </mat-select>
                @if (form['contacto'].hasError('required')) {
                  <mat-error>Requerido</mat-error>
                }
              </mat-form-field>
            </div>
            
            <div class="col-lg-6 mb-3 d-flex gap-3 align-items-center">
              <label for="fecha-inicio-input" class="form-label">Fecha de Inicio</label>
              <mat-form-field appearance="outline" class="flex-grow-1">
                <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio" id="fecha-inicio-input">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
                @if (form['fechaInicio'].hasError('required')) {
                  <mat-error>Requerida</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-6 mb-3 d-flex gap-3 align-items-center">
              <label for="fecha-fin-input" class="form-label">Fecha de Fin</label>
              <mat-form-field appearance="outline" class="flex-grow-1">
                <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin" id="fecha-fin-input">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
                @if (form['fechaFin'].hasError('required')) {
                  <mat-error>Requerida</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="col-lg-12 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="observaciones" rows="4"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Muestras y Ensayos">
      <div class="tab-content">
        <p>Aquí puedes añadir componentes o formularios para gestionar las muestras del servicio.</p>
      </div>
    </mat-tab>

    <mat-tab label="Documentación">
      <div class="tab-content">
        <p>Este es el espacio para gestionar la documentación asociada al servicio.</p>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSave()">Guardar Cambios</button>
</mat-dialog-actions>

<app-alert #alert></app-alert>