mat-card {
  border-radius: 0.75rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.06); // aumenta un 3% el tamaño
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    //background-color: #e9ecef; // gris un poco más oscuro al pasar el mouse

  }
}

:host ::ng-deep .mat-mdc-card-header .mat-mdc-card-header-text {
  /* Esta es la regla clave. Le dice al contenedor del texto que puede encogerse. */
  min-width: 0;
}